body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
}

p {
  margin: 0;
}

#hiragana {
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  margin: 2rem 0;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

input {
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
}

input:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#error {
  background-color: #f44336;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  margin-bottom: 1rem;
  display: none;
}
